/**
 * SPDX-FileCopyrightText: 2023 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
.icon-discourse {
    background-image: url('../img/app-dark.svg');
	filter: var(--background-invert-if-dark);
}

body.theme--dark .icon-discourse {
    background-image: url('../img/app.svg');
}
